/* AboutMeSection.css */
.about-me-section {
  display: grid;
  background-color: white;
  padding: 20px; /* Consistent padding with other sections */
}

.about-me-section h1 {
  font-size: 12em;
  text-align: right;
}

.about-me-section p {
  font-size: 2em;
}
.about-me-section h2 {
  font-size: 2.5em;
  grid-column: 3 / 4; /* Now occupies the third column */
  justify-self: start;
  margin-bottom: 15px;
}

.about-content {
  grid-column: 1 / 3; /* Now spans the first and second columns */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically centers the content within the flex container */
}

.projects-button {
  align-self: start; /* Aligns the button to the top of its container */
  margin-top: 20px; /* Provides space above the button */
}