/* ContactSection.css */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

._form_wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 20px;
  background-color: white; /* Feel free to change the background color */
}

.formfield {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

label {
  margin-bottom: 5px;
  display: block;
}

.submit-btn {
  background-color: #0a0a0a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ec704c;
}
