/* HeroSection.css */
.hero-section {
  background-color: #ff00ff; /* Bold Fuchsia, specific to HeroSection */
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

/* Navbar transparency and text color are handled globally, so no need to repeat */

.linkedin-button {
  /* Positioning the LinkedIn button */
  position: absolute;
  top: 70px; /* Adjust based on actual navbar height */
  left: 20px;
  background-color: white; /* Button specific background */
  color: black; /* Text color specific to the button */
  padding: 10px 20px;
  border-radius: 20px; /* Rounded corners for the button */
  text-decoration: none; /* Remove underline from the link */
}

.home-text {
  /* Positioning for the text container */
  position: absolute;
  top: 50%;
  right: 33%;
  transform: translateY(-50%); /* Center vertically */
  text-align: right; /* Align text to the right */
}

/* No need to redefine h1 and p styles here as they are globally set */

.projects-link {
  /* Specific button style within HeroSection */
  display: inline-block;
  background-color: transparent; /* Background is transparent by default */
  color: black; /* Inherits from global but stated for clarity */
  padding: 5px 10px;
  margin-left: 10px; /* Space from text */
  text-decoration: none; /* Remove underline */
}

/* Hover effect for the project link button */
.projects-link:hover {
  background-color: black; /* Background on hover */
  color: white; /* Text color on hover */
}

.landscape-photo {
  /* Positioning and sizing the landscape photo */
  position: absolute;
  top: 50%;
  right: 20px; /* Align to the right with space */
  transform: translateY(-50%); /* Center vertically */
  width: 66%; /* Taking up 2/3rd of the space */
}

