/* HeroSection.css */
.hero-section {
  background-color: #ff00ff;
  display: flex; /* Switching to flex to facilitate horizontal layout */
  flex-direction: row; /* Align children horizontally */
  align-items: center; /* Vertically center the content */
  justify-content: space-between; /* Space out the child elements, if needed */
  height: 100vh;
  padding-left: 20px; /* Padding on the left to ensure content is not flush against the screen edge */
  padding-right: 20px; /* Same for the right */
}

.hero-section h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 400px; /* Adjust font size if needed to fit the image height */
  letter-spacing: 2.5rem;
  line-height: 18.5rem;
  font-weight: 800; /* Bold font weight */
  color: #000000; /* Black color text for contrast */
  margin: 0; /* Remove margin to control spacing with padding */
  padding-top: 35px;
  padding-bottom: 35px; /* Matching padding at the bottom */
}
.hero-section p {
font-family: 'Work Sans', sans-serif;
font-size: 39px;
padding-left: 22px;
}

/* Assuming the LinkedIn button is part of the hero section and should be positioned absolutely within it */
.linkedin-button {
  position: absolute;
  top: 70px;
  right: 20px; /* Adjust to match the design, assuming it's on the right */
}

.home-text {
  flex: 0 0 auto; /* Don't grow, don't shrink, based on content width */
  padding-right: 20px; /* Space between text and image */
}

.landscape-photo {
  flex: 0 0 auto; /* Don't grow, don't shrink, based on content width */
  max-height: calc(11.5rem + 500px); /* Image height matches h1 plus its top and bottom padding */
  object-fit: cover; /* Cover the area without stretching */
  margin-right: 20px; /* Ensure there's a gap between the text and the image */
}



