/* ProjectsSection.css */
.projects-section {
  background-color: yellow; /* Section background color */
  padding: 20px;
}

.projects-title {
  text-align: right;
  margin-right: 20px;
  grid-area: title;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  position: relative;
  margin-bottom: 20px; /* Space below each card */
}

.project-image {
  width: 100%;
  display: block;
}

.project-title {
  position: absolute;
  bottom: 10px; /* Space from the bottom of the image */
  left: 10px; /* Space from the left side of the image */
  color: black; /* Initial color of the title */
  margin: 0; /* Removes default margin */
}

.project-title:hover {
  color: #FFDD00; /* Title color changes on hover */
}

