/* Global styles */

/* Apply consistent margin and padding to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding doesn't affect overall width */
}

.section {
  padding: 4rem 0; /* Adds vertical padding to the top and bottom */
  margin: 2rem 0; /* Adds vertical margin to the top and bottom */
}

.section::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: 'Work Sans', sans-serif; /* Primary font for the website */
}

/* Text Elements Styling */
h1 {
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  font-size: 2.5rem; /* Scales based on the body font-size */
  margin-bottom: 2rem; /* Consistent bottom margin */
  text-align: left; /* Aligns text to the left */
}

h2 {
  font-weight: 500;
  color: black;
  font-size: 2rem;
}

p {
  font-weight: 300;
  color: black;
  font-size: 1rem;
  margin-bottom: 1rem; /* Consistent bottom margin */
  text-align: left; /* Aligns text to the left */
}

/* Button Styling */
button {
  font-family: 'Work Sans', sans-serif;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  font-size: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: black;
  color: white;
}

/* 3-column grid layout for sections */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
  gap: 1rem; /* Space between columns */
}

.span-2-columns {
  grid-column: span 2; /* Spans across two columns */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Smaller size for h1 on smaller screens */
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem; /* 14px equivalent */
  }

  button {
    padding: 0.75rem 1.5rem; /* Smaller buttons on mobile */
    font-size: 0.875rem;
  }

  /* Adjust layout for sections in smaller screens */
  .container {
    grid-template-columns: 1fr; /* Stacks content in a single column on smaller screens */
  }

  .hero-section, .about-section, .projects-section, .contact-section {
    padding: 5%; /* More padding for smaller screens */
  }
}

.section {
  padding: 2rem 0; /* Adjust padding for smaller screens */
  margin: 1rem 0; /* Adjust margin for smaller screens */
}

