/* NavBar.css - This file contains the styles for the navigation bar. */


/* Styles for the navigation bar that sticks to the top of the page */
.navbar {
  width: 100%;
  height: 80px; /* Fixed height of the navbar */
  background-color: #FFFFFF; /* White background */
  position: fixed; /* Fixed positioning to keep navbar at the top */
  top: 0;
  left: 0;
  display: flex; /* Using flexbox for alignment */
  align-items: center; /* Vertical alignment */
  justify-content: space-between; /* Horizontal spacing between items */
  padding: 0 3%; /* Padding on the sides of the navbar */
  border-bottom: 1px solid #000000; /* Black bottom border */
  z-index: 10; /* High z-index to ensure navbar stays above other content */
}

/* style when the navbar is scrolled */
.navbar.scrolled {
  background-color: #ffd9fd; 
}

/* Style for name on the left side */
.navbar h1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 36px; 
  font-weight: 800; 
  padding-top: 35px;
  color: #000000; 
}

/* Container for the navigation menu items */
.nav-menu {
  display: flex; /* Flex container for nav items */
}

/* General styles for each navigation item/link */
.nav-item {
  text-decoration: none; /* Removes underline from links */
  color: #000000;
  font-family: 'Work Sans', sans-serif;
  font-size: 18px; /* Size of the nav item text */
  font-weight: 400; /* Normal weight for text */
  margin: 0 15px; /* Space between nav items */
  padding: 10px 15px; /* Padding to increase click area */
  border: 1px solid black;
  border-radius: 50px;

}


.nav-item {
  transition: border-color 0.3s; /* Transition for the border color change on hover */
}

/* Hover effect for navigation items */
.nav-item:hover {
  border-bottom: 1px solid #000000; /* Black border on hover for visibility */
}

/* Styles for the LinkedIn button to stand out */
.special {
  background-color: rgb(255, 255, 0); 
  padding: 10px 15px; 
  border-radius: 50px; 
  transition: all 0.3s; 
}

/* Hover effect for the LinkedIn button */
.special:hover {
  background-color: #ff00ff; 
  color: #000000; 
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .navbar {
    padding: 0 10px; /* Reduce padding on the sides for smaller screens */
  }

  .nav-item {
    font-size: 16px; /* Smaller font size for nav items on smaller screens */
    margin: 0 8px; /* Smaller margin between items on smaller screens */
  }

  .navbar h1 {
    font-size: 20px; /* Smaller brand name on smaller screens */
  }
}
